footer{
    display: flex;
    flex-direction: column;
    background-color: #22262E;
    color: gainsboro;
    font-size: 15px;
    align-items: center;
}
#button{
    width: 200px;
    height: 30px;
    border: none;
    color: rgb(59, 59, 59);
    background-color: white;
    margin-bottom: 10px;
}
@media(max-width: 1024px){
    footer{
        font-size: 40px;
    }
    #button{
        width: 600px;
        height: 100px;
        font-size: 40px;
    }
}
