.Login{
    display: flex;
    text-align: center;
    align-items: center;
    color:rgb(8, 104, 8);
    background-color: rgb(214, 236, 229);
    border-radius: 30px;
  }
  .form {
    max-width: 60%;
    margin: 53px auto;
  }
  #input-login,
  #input-senha,
  #ENTRAR{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 20px;
    width: 400px;
    background-color: #e8eeef;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  #ENTRAR {
      display: flex;
      align-items: center;
      justify-content: center;
    color: #FFF;
    background-color: blue;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 200px;
  }
  #CriarConta {
    color:black;
  }
  #imgFACEBOOK{
    height: 48px;  
    width: 200px; 
    padding: 20px;
  }
  #imgGOOGLE{
    height: 40px;  
    width: 200px; 
    padding: 20px;
    margin-bottom: 5px;
  }
  a:link{
    text-decoration: none;
  }
  .Linha{
    height: 600px;  
    width: 2px; 
    background-color: rgba(31, 199, 59, 0.753);
  }

  @media(max-width: 1024px){
    .Login{
     font-size: 50px;
     background-color: white;
    }
    #input-login,
    #input-senha,
    #ENTRAR{
      font-size: 50px;
      width: 1000px;
      margin-bottom: 50px;
    }
    #ENTRAR {
      font-size: 60px;
      text-align: center;
      margin-top: 100px;
      margin-right: 200px;
    }
    #imgFACEBOOK{
      height: 180px;  
      width: 900px; 
    }
    #imgGOOGLE{
      height: 150px;  
      width: 900px; 
      margin-bottom: 50px;
    }
    .Linha{
      display: none;
    }
    #logoLogin{
      display: none;
    }
    .form {
      max-width: 100%;
      max-height: 100%;
    }
}
 