.InconsStore:hover{
    background: linear-gradient(to bottom, white , mediumseagreen );
}
.InconsStore{
    height: 100px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
.carousell{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}

@media(max-width: 1000px){
    .InconsStore:hover{
        display: none;
    }
    .InconsStore{
        display: none;
    }
    .carousell{
        display: none;
    }
}