.ProdutosMain{
    display: flex;
    justify-content: space-around;
}
.BoxProdutos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    height: 240px;
    padding: 30px;
    margin: 20px;
    border: solid 2px white;
    border-radius: 5px;
    cursor: pointer;
}
.BoxProdutos:hover{
    border: solid 2px yellow;
}
.PrecoProduto{
    display: flex;
    position: absolute;
}
.divPrecoProduto{
    color: red;
    height: 40px;
    width: 90px;
    line-height: 0; 
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: bold;
    background-color: #ffdd00c0;
}
.triangulo{
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #ffdd00c0;
}
.PrecoProduto p{
    font-size: 14px;
    margin-left: 5px;   
}

#NomeProduto{
    font-size: 13px;
    color: gray;
}
#QtdProduto{
    width: 30px;
    border: solid 1px red;
    height: 25px;
    border-radius: 5px;
}
#ComprarProduto{
    color: white;
    background-color: red;
    border: none;
    border-radius: 2px;
    height: 30px;
}
#ComprarProduto:hover{
    background-color: rgb(212, 1, 1);
}
.DivQtdComprar{
    display: flex;
    justify-content: space-around;
}

@media(max-width: 1000px){
    .ProdutosMain{
        margin-top: 20px;
    }
    .PrecoProduto{
        position: static;
    }
}