.Perfil {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#376878;
    height: 400px;
}
#Foto{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: #C4C4C4;
    width: 170px;
    height: 170px;
    border: none;
    border-radius: 50%;
    font-size: 50px; 
}
#Dados{
    font-size: 20px;
}
#encontreTrabalho{
    margin-top: 340px;
    color: rgb(255, 255, 255);
    background-color: #189634;
    font-size: 15px;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
}
@media(max-width: 1024px){
    .Perfil {
        display: flex;
        flex-direction: column;
        height: auto;
        font-size: 50px;
    }
    #Foto{
        margin-top: 70px;
        width: 200px;
        height: 200px;
        font-size: 50px; 
    }
    #Dados{
        font-size: 50px;
    }
    #encontreTrabalho{
        margin-top: 40px;
        font-size: 50px;
        width: 600px;
        height: 100px;
        margin-bottom: 70px;
    }
}