.banners {
    width:100%;
	height: auto;
}
.faixa{
    background-image: radial-gradient(circle, #d89704, #d89704, #7a3d01);
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: Roboto Condensed,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; 
}